@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

#root {
  margin: 0 auto;
}

:root {
  

  background-image: src("https://i.redd.it/sg8gma5ru8t51.jpg");
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "futura", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 0px;
  margin: 0px;
  color: blue;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
}

div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pokedexContainer {
  background-color: rgb(136, 42, 42);
  padding: 10px 20px;
  border-radius: 15px;
  border: black solid thick;
  width: 500px;
  height: 95vh;
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 75px 60% auto;
}

.largeTopButton {
  background-color: rgb(29, 166, 190);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid black thick;
  grid-row-start: 1;
  grid-column-start: 1;
  justify-self: center;
  margin-bottom: 10px;
}
.dotContainer {
  display: flex;
}

.stats {
  text-align: left;
  grid-column-start: 2;
  grid-row-start: 2;
}
.pokemon {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-row-start: 2;
}

.pokemonImage {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.screen-button {
  background-color: red;
  border: thick solid black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;
  align-self: center;
}

.statsAndAbilities {
  list-style: none;
  padding: 0;
}

.bottomDots-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  grid-row: 3;
  grid-column-start: 3;
}

.search {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-row-start: var(--bottom-container-starting-row);
}

.d-pad {
  height: 50%;
  align-self: center;
  background-color: #303130;
  grid-column-start: 3;
  grid-row-start: var(--bottom-container-starting-row);
  clip-path: polygon(
    30% 0%,
    /* Top-left of top arm */ 70% 0%,
    /* Top-right of top arm */ 70% 30%,
    /* Right-top of right arm */ 100% 30%,
    /* Right-end of right arm */ 100% 70%,
    /* Right-bottom of right arm */ 70% 70%,
    /* Right-bottom of center */ 70% 100%,
    /* Bottom-right of bottom arm */ 30% 100%,
    /* Bottom-left of bottom arm */ 30% 70%,
    /* Left-bottom of center */ 0% 70%,
    /* Left-end of left arm */ 0% 30%,
    /* Left-top of left arm */ 30% 30% /* Left-top of center */
  );
}

.loadingAndErrorDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}
