.screenContainer {
  background-color: rgb(206, 206, 206);
  border-radius: 15px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 85%, 0% 100%);
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  padding: 2%;
  display: grid;
  grid-column: 1 / 4;
  grid-template-rows: 25px auto 75px;
  border: black solid thick;
}
.screen {
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  display: grid;
  grid-column: 1 / 4;
  grid-row-start: 2;
  text-align: left;
  list-style: none;
  padding: 0;
}
.innerScreen {
  display: grid;
  padding: 2%;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}