@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

:root {
  --dot-width: 25px;
  --dot-height: 25px;
  --dot-margin: 0 5px 0 0;
  --dot-border: thick solid black;
  --bottom-container-starting-row: 3;
}

body {
  font-family: "futura", sans-serif;
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 0px;
  margin: 0px;
  color: blue;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
}

div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pokedexContainer {
  background-color: rgb(136, 42, 42);
  padding: 10px 20px;
  border-radius: 15px;
  width: 500px;
  height: 95vh;
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 75px 60% auto;
}
.buttonTopContainer {
  display: flex;
  grid-row-start: 1;
  grid-column: 1 / span 3;
}
.largeTopButton {
  background-color: rgb(29, 166, 190);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid black thick;
  grid-row-start: 1;
  grid-column-start: 1;
  justify-self: center;
  margin-bottom: 10px;
}
.dotContainer {
  display: flex;
}
.redTopDot {
  background-color: red;
  width: var(--dot-width);
  height: var(--dot-height);
  margin: var(--dot-margin);
  border: var(--dot-border);
  border-radius: 50%;
  grid-row-start: 1;
  grid-column-start: 2;
}
.yellowTopDot {
  background-color: yellow;
  width: var(--dot-width);
  height: var(--dot-height);
  margin: var(--dot-margin);
  border: var(--dot-border);
  border-radius: 50%;
  grid-row-start: 1;
  grid-column-start: 3;
}
.blueTopDot {
  background-color: blue;
  width: var(--dot-width);
  height: var(--dot-height);
  margin: var(--dot-margin);
  border: var(--dot-border);
  border-radius: 50%;
  grid-row-start: 1;
  grid-column-start: 4;
}

.screenContainer {
  background-color: rgb(206, 206, 206);
  border-radius: 15px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 85%, 0% 100%);
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  padding: 2%;
  display: grid;
  grid-column: 1 / 4;
  grid-template-rows: 25px auto 75px;
}
.screen {
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  display: grid;
  grid-column: 1 / 4;
  grid-row-start: 2;
  text-align: left;
  list-style: none;
  padding: 0;
}
.innerScreen {
  display: grid;
  padding: 2%;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.stats {
  text-align: left;
  grid-column-start: 2;
  grid-row-start: 2;
}
.pokemon {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-row-start: 2;
}

.pokemonImage {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.topDots-container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  grid-row-start: 1;
  grid-column: 2;
}
.topDots {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 15px;
  margin-right: 5px;
  grid-row-start: 1;
}

.screen-button {
  background-color: red;
  border: thick solid black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;
  align-self: center;
}

.statsAndAbilities {
  list-style: none;
  padding: 0;
}

.bottomDots-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  grid-row: 3;
  grid-column-start: 3;
}
.bottomDots {
  background-color: rgb(44, 44, 44);
  border: thin solid black;
  height: 5px;
  width: 100px;
  border-radius: 15px;
  margin-top: 15px;
}
.search {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-row-start: var(--bottom-container-starting-row);
}

.d-pad {
  filter: drop-shadow(0 0 0 6px black);
  height: 50%;
  align-self: center;
  background-color: #494b49;
  grid-column-start: 3;
  grid-row-start: var(--bottom-container-starting-row);
  clip-path: polygon(
    30% 0%,
    /* Top-left of top arm */ 70% 0%,
    /* Top-right of top arm */ 70% 30%,
    /* Right-top of right arm */ 100% 30%,
    /* Right-end of right arm */ 100% 70%,
    /* Right-bottom of right arm */ 70% 70%,
    /* Right-bottom of center */ 70% 100%,
    /* Bottom-right of bottom arm */ 30% 100%,
    /* Bottom-left of bottom arm */ 30% 70%,
    /* Left-bottom of center */ 0% 70%,
    /* Left-end of left arm */ 0% 30%,
    /* Left-top of left arm */ 30% 30% /* Left-top of center */
  );
}

.loadingAndErrorDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}
